@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");

* {
    font-family: Helvetica;
}

body,
html {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #1d243d;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0;
    top: 50px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    background-color: rgb(33, 41, 66);
    border-radius: 9px;
    border-top: 10px solid #79a6fe;
    border-bottom: 10px solid #8bd17c;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 30%;
    height: auto;
    box-shadow: 1px 1px 108.8px 19.2px rgb(25, 31, 53);
}

.container h4 {
    color: #5c6bc0;
    font-size: 18px;
}

.container h4 span {
    color: #dfdeee;
}

.container h5 {
    font-size: 12px;
    color: #a1a4ad;
    letter-spacing: 1.5px;
    margin-top: -15px;
    margin-bottom: 40px;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
    display: block;
    margin: 20px auto;
    margin-bottom: 10px;
    background: #262e49;
    border: 0;
    border-radius: 5px;
    padding: 14px 10px;
    width: 80%;
    outline: none;
    color: #d6d6d6;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

::-webkit-input-placeholder {
    color: #565f79;
}

.container input[type="text"]:focus,
.container input[type="email"]:focus,
.container input[type="password"]:focus {
    border: 1px solid #79a6fe;
}

.dnthave {
    transition: 0.3s;
    color: #5c7fda;
    text-decoration: none;
    outline: none;
}

.dnthave:hover {
    color: #5d33e6;
    cursor: pointer;
}

.btn1 {
    border: none;
    background: #7f5feb;
    color: #dfdeee;
    border-radius: 100px;
    width: 80%;
    height: 48px;
    font-size: 16px;
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none;
}

.btn1:hover {
    background: #5d33e6;
}

.show__error {
    font-size: 12px;
    font-weight: bold;
    color: red;
    margin: 0;
}

.container-snip {
    margin: 0;
    top: 50px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    background-color: rgb(33, 41, 66);
    border-radius: 9px;
    border-top: 10px solid #79a6fe;
    border-bottom: 10px solid #8bd17c;
    padding-bottom: 20px;
    width: 60%;
    height: auto;
    box-shadow: 1px 1px 108.8px 19.2px rgb(25, 31, 53);
}

.container-head {
    padding-top: 10px;
    background-color: rgb(37, 45, 68);
    display: flex;
    justify-content: space-between;
}

.head-avatar {
    background-color: rgb(27, 35, 58);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin: 10px;
}

.head-avatar img {
    width: 70px;
}

.head-login {
    margin-left: 20px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #dfdeee;
}

.container__all__cards {
    padding: 10px;
}

.container__card {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 60px;
    border-radius: 20px;
    background-color: rgb(37, 45, 68);
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 1px 1px 19.2px rgb(25, 31, 53);
    transition: 0.3s;
}

.container__card:hover {
    transform: translate(0, -5px);
}

.card__title {
    font-size: 24px;
    color: #79a6fe;
}
.card__content {
    margin-top: 10px;
    color: #dfdeee;
}

.btn__logout {
    align-content: flex-end;
    border: 0;
    background: #7f5feb;
    color: #dfdeee;
    border-radius: 10px;
    padding: 12px;
    height: 40px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.btn__logout:hover {
    background: #5d33e6;
}

.container__head {
    display: flex;
    align-items: center;
}

.container__logout {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 10px;
}

.container__show__note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__show__note__title {
    margin: auto;
    margin-top: 20px;
    background: #262e49;
    border: 0;
    border-radius: 5px;
    padding: 14px 10px;
    width: 80%;
    outline: none;
    color: #d6d6d6;
    letter-spacing: 1.5px;
    font-size: 18px;
}

.container__show__note__content {
    margin: auto;
    margin-top: 20px;
    background: #262e49;
    border: 0;
    border-radius: 5px;
    padding: 14px 10px;
    height: 250px;
    width: 80%;
    outline: none;
    color: #d6d6d6;
    resize: none;
    letter-spacing: 1.2px;
    font-size: 14px;
}

.btn__back {
    align-content: flex-end;
    border: none;
    background: #7f5feb;
    color: #dfdeee;
    border-radius: 10px;
    padding: 12px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    outline: none;
}

.btn__back:hover {
    background: #5d33e6;
}

.container__back {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 96%;
    padding: 10px;
}

